// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin 
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

$largeur_grand_desktop: 1400px;
$largeur_desktop : 1200px;
$largeur_tablet : 800px;
@mixin grand_desktop {
	@media (min-width: $largeur_grand_desktop ){
		@content;
	}
}

@mixin desktop {
	@media (min-width: $largeur_desktop ){
		@content;
	}
}

@mixin tablet {
	@media (min-width: $largeur_tablet ){
		@content;
	}
}
