/*--------------------------------------------
  La bannière principale
----------------------------------------------*/

.premierViewport{
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;

    @include small_tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-navigation {
        width: 100%;

        @include tablet {
            width: 60%;
        }

        @include desktop {
            width: 20%;
        }
    }

    .banniere-accueil {
        position: absolute;
        object-fit: cover;
        height: 90%;
        width: 100%;
        z-index: -5;

        @include small_tablet {
            object-fit: initial;
        }

        @include desktop {
            top: 0;
        }
    }
}

.annees {
    align-self: center;

    h1 {
        font-size: 3em;
        line-height: 0.7;
        height: 100px;
        letter-spacing: -4px;
        margin-bottom: 0;
        overflow: visible;
        background: -webkit-linear-gradient(-90deg, rgba(183,232,214,1) 0%, rgba(253,249,178,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(-1px 0px 5px rgba(0, 0, 0, 0.42));

        @include small_tablet {
            height: 150px;
            letter-spacing: -7px;
        }

        @include tablet {
            font-size: 4em;
        }

        @include desktop {
            font-size: 5em;
        }

        strong {
            font-size: 1.2em;
            text-transform: uppercase;

            &::after {
                content: '+';
                background: -webkit-linear-gradient(-90deg, #FFC857 0%, #FFC857  100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.conteneur-logo {
    position: relative;
    width: 80%;
    height: 788px;
    margin: 0 auto;

    @include small_tablet {
        margin: 0;
        width: 788px;
        align-self: center;
    }
 
    img {
        margin: 0 auto;
        animation-name: Banniere;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        top: 5vw;
        bottom: 0;
        left: 0;
        right: 0;  
        position: absolute;

        @include tablet {
            top: 15vw;
        }

        @include desktop {
            top: 0vw;
        }
    }
    
    h1 {
        position: absolute;
        font-weight: 400;
        color: $couleur-bleu-marin; 
        text-align: center;
        font-size: 1.5em;
        top: 85vw;
        bottom: 0;
        right: 0;  
        width: 100%;
        height: 30px;
        line-height: 1;

        @include tablet {
            top: 45vw;
            left: -10vw;
            text-align: right;
            font-size: 2em;
            line-height: 1.5;
        }

        @include desktop {
            top: 32vw;
        }
    }
}


/* Animate Background*/

@keyframes Banniere {

    0% {
      filter: hue-rotate(0deg) saturate(100%) contrast(100%);
      transform: scale(95%);
    }

    50% {
      //background-position: 100% 50%;
      filter: hue-rotate(10deg) saturate(160%) contrast(120%);
      transform: scale(105%);

    }

    100% {
        filter: hue-rotate(0deg) saturate(100%) contrast(100%);
        transform: scale(95%);
    }

}