/*--------------------------------------------
  La bannière principale
----------------------------------------------*/

.premierViewport{
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;

    @include small_tablet {
        flex-direction: row;
    }

    .main-navigation {
        width: 30%;

        @include tablet {
            width: 53em;
        }

        @include desktop {
            width: 60%;
        }
    }


    .banniere-avant-accueil {
        width: 100%;
        position: absolute;
        top: 80vh;
    }

    .banniere-accueil {
        position: absolute;
        height: 107vh;
        width: 100%;
        object-fit: cover;
        z-index: -7;

        @include desktop {
            top: 0;
        }
    }
}

.conteneur-logo {
    position: relative;
    width: 80%;
    height: 788px;
    margin: 0 auto;

    @include small_tablet {
        margin: 0;
        width: 788px;
    }
    
    img {
        margin: 0 auto;
        animation-name: Banniere;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        //animation: banniere 1s ease-in-out delay infinite forwards;
        top: 5vw;
        bottom: 0;
        left: 0;
        right: 0;  
        position: absolute;

        @include tablet {
            top: 15vw;
        }

        @include desktop {
            top: 0vw;
        }
    }
    
    h1 {
        position: absolute;
        font-weight: 400;
        color: $couleur-bleu-marin; 
        //margin-top: 13em;
        text-align: right;
        font-size: 2em;
        top: 54vw;
        bottom: 0;
        left: -10vw;
        right: 0;  
        width: 100%;
        height: 30px;

        @include tablet {
            top: 45vw;
        }

        @include desktop {
            top: 32vw;
        }

       /* @include desktop {
            width: 100%;
            margin-top: 20em;
        }*/
    }
    
    /*.fond-logo {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;        

        /*@include desktop {
            width: 80vh;
            right: 5%;
            top: 10%;
        }
    }*/
}


/* Animate Background*/

@keyframes Banniere {

    0% {
      filter: hue-rotate(0deg) saturate(100%) contrast(100%);
      transform: scale(100%);
    }

    50% {
      //background-position: 100% 50%;
      filter: hue-rotate(10deg) saturate(150%) contrast(120%);
      transform: scale(101%);

    }

    100% {
        filter: hue-rotate(0deg) saturate(100%) contrast(100%);
        transform: scale(100%);
    }

}