
/*--------------------------------------------
  La section Cours
----------------------------------------------*/

.accueil-cours {
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding-bottom: 5em;

    @include desktop {
        padding-bottom: 10em;
        
    }

    .accueil-cours-contenant {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        /*@include desktop {
            width: 80%;
        }*/


        .accueil-cours-item {
            width: 100%;
            margin: 15px 30px;

            @include desktop {
                width: 40%;
            }

            .cours-contenu {
                display: flex;
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(20px);
                border-radius: 25px;
                padding: 3% 4% 3% 0;
                align-items: center;

                @include desktop {
                    padding: 2% 3%;
                }
    
                .accueil-cours-texte {
    
                    h2 {
                        margin-top: 0;

                        a {
                            font-weight: 400;
                            font-size: 1.5em;
                        }
                    }
    
                    p {
                        margin-bottom: 0;
                        font-size: 1.3em;
                    }
                }

                .accueil-cours-icon {
                    width: 50vw;
                    margin: 5%;
                    transition: .1s all;


                    @include desktop {
                        width: 30vw;
                    }

                    &:hover {
                        cursor: pointer;
                        filter: saturate(195%) brightness(130%) hue-rotate(-99deg)
                    }
                }    
            }
        }
        
        // Pour chaque item de cours qui sont pairs
        .accueil-cours-item:nth-child(even) {

            @include desktop {
                margin-top: 20vh;
            } 

            .cours-contenu {
                flex-direction: row-reverse;

                .accueil-cours-texte {
                    text-align: left;
                    padding-left: 8%;

                    @include desktop {
                        padding-left: 0;
                    }
                }
            }
        }

        // Pour chaque item de cours qui sont impairs
        .accueil-cours-item:nth-child(odd) {

            .cours-contenu {
                flex-direction: row-reverse;

                @include desktop {
                    flex-direction: row;
                }

                .accueil-cours-texte {
                    text-align: left;
                    padding-left: 8%;

                    @include desktop {
                        text-align: right;
                        padding-right: 8%;
                    }
                }
            }
        }
    }

    
}