.site {
	display: grid;
	//grid-template-columns: auto ($size__site-sidebar);
	grid-template-columns: 100%;
	grid-template-areas:
		"header header"
		"main main"
		"sidebar sidebar"
		"footer footer";

		@include desktop{
	
			grid-template-columns: 80% 20%;
			grid-template-areas:
			"header header"
			"main sidebar"
			"footer footer";
		
		
	}
}

/*------------------------side bar desktop-----------------------*/


.site-header {
	grid-area: header;
	
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
	background-color: #75a5cc;
      color: #F1FAEE;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
