/// Page d'accueil


.premierViewport{
    display: flex;
    height: 70vh;

}

.conteneur-logo {
    margin-top: 35vh;
    margin-right: 35vh;
    
    img {
        width: 80%;
        margin: 0 auto;
    }
    
    h1 {
        font-weight: 200;
        color: #0B132B; // Couleur temporaire. Il faudra les ajouter au fichier variables.sccs
    }
    
    .fond-logo {
        position: absolute;
        right: 5%;
        z-index: -1;
        width: 80vh;
        top: 10%;
    }
}

/*--------------------------------------------
  La section Cours
----------------------------------------------*/

.accueil-cours {
    width: 100%;
    position: relative;

    h1 {
        text-align: center;
        font-size: 4rem;
        color: $couleur1;
    }

    .accueil-cours-contenant {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        /*@include desktop {
            width: 80%;
        }*/

        .icon {
            fill : #B7E8D7;
            transition: .3s all;
            width: 100%;
    
            &:hover {
                fill: #7BB8A1;
                cursor: pointer;
            }
    
            &:active {
                fill: #D7EEE6;
            }
        }

        .accueil-cours-item {
            width: 100%;
            margin: 50px;

            @include desktop {
                width: 40%;
            }

            .cours-contenu {
                display: flex;
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(20px);
                border-radius: 25px;
                padding: 2% 3%;
                align-items: center;
    
                .accueil-cours-texte {
    
                    h2 {
                        margin-top: 0;
                        font-weight: 400;
                    }
    
                    p {
                        margin-bottom: 0;
                    }
                }

                .accueil-cours-icon {
                    width: 50vw;
                    margin: 5%;

                    @include desktop {
                        width: 30vw;
                    }
                }
            }
        }
        
        // Pour chaque item de cours qui sont pairs
        .accueil-cours-item:nth-child(even) {
            margin-top: 0;

            @include desktop {
                margin-top: 20vh;
            } 

            .cours-contenu {
                flex-direction: row-reverse;

                .accueil-cours-texte {
                    text-align: left;
                    padding-left: 8%;

                    @include desktop {
                        padding-left: 0;
                    }
                }
            }
        }

        // Pour chaque item de cours qui sont impairs
        .accueil-cours-item:nth-child(odd) {

            .cours-contenu {
                flex-direction: row-reverse;

                @include desktop {
                    flex-direction: row;
                }

                .accueil-cours-texte {
                    text-align: left;
                    padding-left: 8%;

                    @include desktop {
                        text-align: right;
                        padding-right: 8%;
                    }
                }
            }
        }
    }

    // Images d'arrière plan
    .bg-cours-1 {
        position: absolute;
        width: 100%;
        z-index: -10;
        top: 0;
        object-fit: cover;
    }

    .bg-cours-2 {
        position: absolute;
        width: 100%;
        z-index: -10;
        top: 60%;
        object-fit: cover;
    }
}

.accueil-vie {

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
}


// ScrollBar
/* width */
::-webkit-scrollbar {
    width: 15px;
    
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(#B0F6DE, #B9DEA4);
}

::-webkit-scrollbar-thumb {
    background: #D3FFBA;
    border-radius: 51px;
    box-shadow: 0px 1px 13px 1px #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #7BB8A1;    
}