/* Accueil/Accueil-bannière
--------------------------------------------- */
@import "accueil/accueil-banniere";

/* Accueil/Accueil-cours
--------------------------------------------- */
@import "accueil/accueil-cours";

/* Accueil/Accueil-prof
--------------------------------------------- */
@import "accueil/accueil-prof";

/* Accueil/Accueil-vie-étudiante
--------------------------------------------- */
@import "accueil/accueil-vie-etudiante";


