#post-315 > header > div{
    display: none;
}

div.post-thumbnail{
    display: flex;
    justify-content: center;
}


#post-315 > div.entry-content > p{
    margin: 1rem auto;
    padding: 2em;
    width: 90%;
    align-items: center;
    text-align: center;

    font-weight: 400;
    font-size: 17px;
    line-height: 27px;

        height: auto;
        display: flex;
      


        background: rgba(248, 255, 215, 0.219);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 15px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#comments{
    display: none;
}