/*--------------------------------------------
  La page Cours
----------------------------------------------*/

.contenant-cheminement {
    margin: 0 auto;
    width: 85vw;

    h2 {
        font-weight: 500;
        text-align: center;
        color: #ECFEF8;
        font-size: 5.4em;
        margin: 0;
    }

    form {
        font-weight: 400;
        font-size: 1.5rem;
        color: #ECFEF8;
        padding: 1em 0;

        .filtre-cours {
            background: none;
            border: none;
            color: #FBF057;
            font-weight: 500;
            font-style: italic;
            font-size: 1.5rem;
    
            option {
                background-color: #D7EEE6;
                color: $couleur-bleu-marin;
    
                &:hover {
                    background-color: #9BC284;
                }
            }
        }

        input {
            border: 3px solid #FBF057;
            border-radius: 10px;
            background-color: #FBF057;
            color: $couleur-bleu-marin;
            font-family: futura-pt, sans-serif;
            font-weight: 400;
            transition: 0.3s all ease;

            &:hover {
                background-color: $couleur2;
                border: 3px solid $couleur2;
            }

            &:active {
                border-color: $couleur-bleu-marin;
            }
        }
    }


    .contenant-tableau-cheminement {
        background-color: #A2CC8A;
        border-radius: 25px;

        .liste-cours {
            padding: 2rem 0;

            .item-cours {
                display: flex;
                align-items: center;
                padding: 0.5em 2em;

                &:hover {
                    background-color: #ADD795;
                }

                h6 {
                    font-weight: 500;
                    font-size: 1.5em;
                    margin-right: 55px;
                    line-height: 0;
                    align-self: flex-start;
                }

                .contenant-cours {
                    background-color: #C1E8AA;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: column;
                    //flex-grow: 1;
                    width: 90%;
                    padding: 1em 2em;
                    position: relative;

                    .titre-cours {
                        display: flex;
                        align-items: center;

                        &::before, &::after {
                            position: absolute;
                            content: '';
                            right: 0;
                            //left: 90%;
                            top: 0;
                            bottom: 0;
                            background-color: #9BC284;
                            border-radius: 2px;
                        } 
    
                        &::before {
                            width: 9px;
                            //left: 92%;
                            right: 52px;
                            top: 27%;
                            bottom: 27%;
                        }
    
                        &::after {
                            top: 44%;
                            bottom: 40%;
                            //right: 5%;
                            right: 40.5px;
                            width: 32px;
                            height: 9px;
                        }

                        .logo-cours {
                            width: 2.5rem;
                            margin-right: 5rem;
                            filter: saturate(200%) brightness(70%);
                        }
                        
                        p {
                            font-weight: 400;
                            font-size: 1.7em;
                            margin: 0;
                        }
                    }

                    .description-cours {
                        display: none;

                        p {
                            color: #457B77;
                            line-height: 1.4;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}


/// Note pour moi-même (Sami) : Trouver le moyen de réduire les !important.
.actif-cours {

    .titre-cours {
        
        &::before {
            background: none !important;
        }

        &::after {
            top: 16% !important;
        }
    }

    .description-cours {
        display: block !important;
    }
}