/*--------------------------------------------
  La page Cours
----------------------------------------------*/

.contenant-cheminement {
    margin: 0 auto;
    width: 85vw;

    h2 {
        font-weight: 500;
        text-align: center;
        color: #ECFEF8;
        font-size: 3.4em;
        margin: 0;
        line-height: 1;

        @include small_tablet {
            font-size: 4.4em;
        }

        @include desktop {
            font-size: 5.4em;
        }
    }

    form {
        font-weight: 400;
        font-size: 2rem;
        color: #ECFEF8;
        padding: 1em 0;

        .filtre-cours {
            background: none;
            border: none;
            color: #FBF057;
            font-weight: 500;
            font-style: italic;
            font-size: 1.5rem;
    
            option {
                background-color: #D7EEE6;
                color: $couleur-bleu-marin;
    
                &:hover {
                    background-color: #9BC284;
                }
            }
        }

        input {
            border: 3px solid #FBF057;
            border-radius: 10px;
            background-color: #FBF057;
            color: $couleur-bleu-marin;
            font-family: futura-pt, sans-serif;
            font-weight: 400;
            transition: 0.3s all ease;

            &:hover {
                background-color: $couleur2;
                border: 3px solid $couleur2;
            }

            &:active {
                border-color: $couleur-bleu-marin;
            }
        }
    }


    .contenant-tableau-cheminement {
        background-color: #A2CC8A;
        border-radius: 25px;
 
        .liste-cours {
            padding: 2rem 0;

            .item-cours {
                display: flex;
                align-items: center;
                padding: 0.5em 1em;
                flex-direction: column;

                @include small_tablet {
                    flex-direction: row;
                    padding: 0.5em 2em;

                }

                

                h6 {
                    font-weight: 500;
                    font-size: 2em;
                    align-self: flex-start;
                    width: 100%;
                    text-align: center;
                    margin: 1em 0;
                    overflow: hidden;


                    @include small_tablet {
                        margin: 55px 55px 0 0;
                        text-align: center;
                    }

                    @include desktop {
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }

                h6:before,
                h6:after {
                    background-color: #C1E8AA;
                    content: "";
                    display: inline-block;
                    height: 5px;
                    position: relative;
                    vertical-align: middle;
                    width: 45%;
                    border-radius: 50px;
                }

                h6:before {
                    right: 0.5em;
                    margin-left: -50%;
                }

                h6:after {
                    left: 0.5em;
                    margin-right: -50%;
                }
            }
        }
    }
}

.contenant-liste-cours {
    width: 100%;
                    
    .contenant-cours {
        background-color: #C1E8AA;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        //flex-grow: 1;
        padding: 1em;
        margin: 1em 0;
        position: relative;

        @include small_tablet {
            padding: 0.8em 2em;
        }

        &:hover {
            background-color: rgb(203, 236, 184);
        }

        .titre-cours {
            display: flex;
            align-items: center;

            img {
                width: 2.5rem;
                margin-right: 1em;
                filter: saturate(200%) brightness(70%);

                @include small_tablet {
                    margin-right: 2em;
                }

                @include desktop {
                    margin-right: 5em;
                }
            }

            .contenu-titre-cours {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .contenant-icone-cours {
                    font-size: 3rem;
                    line-height: 0;

                    .fa-minus:nth-child(1) {
                        transform: rotate(90deg);
                        color: #9BC284;
                        position: absolute;
                       
                    }

                    .fa-minus {
                        color: #9BC284;
                    }
                }
            }
            
            // Titre du cours
            p {
                font-weight: 400;
                font-size: 1.3em;
                margin: 0;
                line-height: 1.2;

                @include small_tablet {
                    width: 62%;
                    font-size: 2.2em;
                }

                @include tablet {
                    width: auto;
                }
            }
        }

        .description-cours {
            transition: 0.3s all ease-in-out;
            max-height: 0;
            opacity: 0;
            overflow: hidden;

            p {
                color: #457B77;
                line-height: 1.4;
                font-weight: 300;
                font-size: 1.3rem;

                @include tablet {
                    font-size: 1.8rem;
                }

                &:nth-child(2), &:nth-child(3) {
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 1% 0;
                }
            }
        }
    }
}

/// Note pour moi-même (Sami) : Trouver le moyen de réduire les !important.
.actif-cours {
       
        .fa-minus:nth-child(1){
          animation-name: Croix;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
          animation-direction: alternate;
          transition-timing-function: ease-in-out;
          animation-play-state: revert;      
        }

    /*.description-cours {
        display: block !important;
    }*/
    .description-cours  {
        max-height: 300vh !important;
        opacity: 1 !important;

    }
}
    
.actif-cours-anim{   
    .fa-minus:nth-child(1){
        animation-name: Croix2;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in-out;  
    }  

   
}

/* Animation de la croix*/

@keyframes Croix {

    0% {
        transform: rotate(90deg);
        opacity: 1;
    }

    70% {
        transform: rotate(185deg);
        // augmenter la rotation
    }

    100% {
        opacity: 0;
    }
}

@keyframes Croix2 {

    0% {
        opacity: 0;
    }

    70% {
        transform: rotate(45deg);
        // augmenter la rotation
    }

    100% {
        
        transform: rotate(90deg);
        opacity: 1;
    }
}