footer{
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-bottom: 40px;
    .bg-footer{
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        z-index: -10;
    }
    

    div{
        
        display: flex;
        flex-direction: row;
    justify-content: space-between;
    
    
    }

    #footer-tag{
        
        width: 90%;
        border-top: 1px solid #D7EEE6 ;
        padding-top: 20px;
        
       
    
        a{ 
            color:#D7EEE6;
            //padding: 10px;
            font-size: 13px;
        }
    }
    
}