html, body {
    position: relative;
    height: 100%;
    
    
    font-family: futura-pt, sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

// Style général pour les pages intègres
.integre {

    // Titre des pages intègres
    h1 {
        font-family: 'Titillium Web', sans-serif !important;
        font-size: 4em !important;
        text-align: center;

        @include tablet {
            padding: 0;
            font-size: 7em !important;
            margin: 0 6rem;
        }

        @include desktop {
            text-align: left !important;
            padding: 0 1em;
        }
    }
}

 
body {
    //font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font: 'Futura PT', sans-serif !important;
    font-size: 14px;
    color: #000;
    margin: 0;  
    padding: 0;  
    overflow-x: hidden;
    background: #91B87B;
    background-repeat: no-repeat;

}

body.custom-background {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #0B132B; 
}

/// Page d'accueil

.site-main {
    background-repeat: no-repeat;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        color: $couleur1;
        //padding: 0 1em;
        font-family: futura-pt,sans-serif;
		font-weight: 700;
        font-style: normal;

        @include desktop {
            font-size: 4rem;
            padding: 0;
        }
    } 

    p {
		font-family: futura-pt, sans-serif;
		font-weight: 300;
		font-style: normal;
    }
}

 // Les boutons de navigation
.swiper-button-next, .swiper-button-prev {
    font-size: 15rem;
    color: $couleur2;
    top: 70%;
}

.swiper-button-prev::after {
    font-weight: 900;
    font-size: 4rem;
}

.swiper-button-next::after {
    font-weight: 900;
    font-size: 4rem;
}

// La pagination au pied du carrousel 
.swiper-pagination-bullet-active{
    background-color: $couleur2 !important;
}








// ScrollBar
/* width */
::-webkit-scrollbar {
    width: 15px;
    
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(#B0F6DE, #B9DEA4);
}

::-webkit-scrollbar-thumb {
    background: #D3FFBA;
    border-radius: 51px;
    box-shadow: 0px 1px 13px 1px #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #7BB8A1;    
}

// Images d'arrière plan
.bg-cours-1 {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: -50%;
    object-fit: cover;
}

.bg-cours-2 {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 60%;
    object-fit: cover;
}