#primary-menu{
    padding: 0 !important;
    width: 100px;
    flex-direction: row;

    @include desktop {
        flex-direction: column;
    }

    .sub-menu {
        flex-direction: column;

        li {
            margin: 0;
            padding: 60px;
        }
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        @include tablet {
            margin: 10px;
            padding: 30px;
        }

        @include desktop {
            margin: 0;
            padding: 60px;
        }
    }

    li:nth-child(1) {
        background: radial-gradient(circle, rgb(176, 238, 174) 0%, rgb(34, 109, 59) 100%);
        border-radius: 31% 69% 62% 38% / 40% 50% 50% 60%;
    }

    li:nth-child(2) {
        background: linear-gradient(47deg, rgba(137,217,217,1) 0%, rgba(255,250,178,1) 100%);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    li:nth-child(3) {
        background: linear-gradient(27deg, rgba(183,232,215,1) 0%, rgba(134,166,166,1) 100%);
        border-radius: 76% 24% 48% 52% / 47% 32% 68% 53%;
    }

    li:nth-child(4) {
        margin-top: -30%;
        background: linear-gradient(151deg, rgba(162,204,138,1) 0%, rgba(137,217,217,1) 100%);
        border-radius: 31% 69% 48% 52% / 39% 32% 68% 61%;
    }
} 

.sub-menu{
    padding: 0px !important;
    li{
        display: block;
        background: none !important;
        border-radius: 0px !important;
        padding: 0px !important;
        margin: 0px;
        width: 10px;
    }
    
}

.menu-item-29{
    display: flex;
    flex-direction: column;
}

.banniere-accueil {
    position: absolute;
    z-index: -10;
}