.menu-menu-accueil-container {
    width: 100%;
}

#primary-menu {
    padding: 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    @include small_tablet {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
        width: 100px;
    }
    
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        margin: 0;
        font-size: 1rem;
        height: 10vh;

        @include small_tablet {
            margin: -0.6em 0;
            padding: 2.5em 3em;
            font-size: 1.8rem;
            height: 23vh;
        }

        @include tablet {
            padding: 2.5em 3em;
        }

        @include desktop {
            margin: -0.7em 0;
            padding: 2.5em 3em;
        }

        &:nth-child(4){
            padding: 0.5em 1em;

            @include small_tablet {
                padding: 4em;
            }
        }

        a {
            color: #457B77;
            font-weight: 500;
            font-style: normal;
        }
        a:visited {
            //color: $couleur-bleu-marin;
        }

        a:hover,
        a:focus,
        a:active {
            color: $couleur1;
        }
    }

    li:nth-child(1) {
        background: rgb(162,204,138);
        background: linear-gradient(54deg, rgba(162,204,138,1) 0%, rgba(255,250,178,1) 100%);
        border-radius: 31% 69% 62% 38% / 40% 50% 50% 60%;
    }

    li:nth-child(2) {
        background: rgb(183,232,215);
        background: linear-gradient(146deg, rgba(183,232,215,1) 0%, rgba(162,204,138,1) 100%);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    li:nth-child(3) {
        background: rgb(123,184,161);
        background: linear-gradient(262deg, rgba(123,184,161,1) 0%, rgba(183,232,215,1) 100%);
        border-radius: 76% 24% 48% 52% / 47% 32% 68% 53%;
    }

    li:nth-child(4) {
        background: rgb(162,204,138);
        background: linear-gradient(190deg, rgba(162,204,138,1) 0%, rgba(215,238,230,1) 100%);
        border-radius: 31% 69% 48% 52% / 39% 32% 68% 61%;
    }
} 

.sub-menu{
    padding: 0px !important;
    flex-direction: column;
    display: none;

    li{
        display: block;
        background: none !important;
        border-radius: 0px !important;
        padding: 0px !important;
        margin: 0;
        width: 10px;
        height: auto;
        align-items: center;
    }
    
}

.menu-item-29{
    display: flex;
    flex-direction: column;
}


/*----------------------------------
    Navigation des pages intègres
------------------------------------*/


.site-header {

// En effet le nom de classe est étrange, mais unique.
    .menu-menu-site-container {

        .menu {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            font-family: 'Titillium Web', sans-serif;
            font-size: 2rem;
            padding: 1em 0;
            flex-direction: column;
            background-color: #527B88;
            margin: 0;
            position: relative;
            -webkit-box-shadow: 5px 5px 36px 5px rgba(0,0,0,0.77); 
            box-shadow: 5px 5px 36px 5px rgba(0,0,0,0.77);
            transition: all 1s ease-in-out;
            z-index: 1;

            @include desktop {
                flex-direction: row;
                background-color: transparent;
                margin: 0 3em 1.5em 0;
                padding-top: 1em;
                -webkit-box-shadow: 5px 5px 36px 5px rgba(0,0,0,0); 
                box-shadow: 5px 5px 36px 5px rgba(0,0,0,0);
                width: 90%;
                top: 0.5em;
            }
    
            li {
                margin: 0 1em;

    
                a {
                    color: $couleur1;
    
                    &:hover {
                        color: #B7E8D7;
                    }
                }
            }
        }
    }
}

.contenant-logo-integre {
    top: 0;
    left: 1em;
    position: absolute;
    height: 6em;
    z-index: 0;

    @include desktop {
        height: 8em;
        left: 3em;
        z-index: 1;

    }

    img {
        height: 100%;
        z-index: -2;
    }
}

.menu-menu-site-container {

    .menu {
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        @include desktop {
            display: flex;
        }
    }
}

.menu-menu-site-container {
    height: 20vh;

    .actif-btnMenu {
        max-height: 100vh;
        opacity: 1;
    }
}

.menu-toggle {
    position: absolute;
    top: 2em;
    right: 3em;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;

    /*@include desktop {
        display: none;
    }*/

    span {
        position: relative;
        display: block;
        width: 100%;
        border-radius: 9px;
        height: 9px;
        background-color: $couleur1;
        transition: all .3s;
        margin: 8% 0;
    }
}

span {
    animation-timing-function: ease;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

.actif-btnMenuBurger span:nth-child(1) {
    animation-name: top;
}

.pas-actif-btnMenuBurger span:nth-child(1) {
    animation-name: top-2;
}

.actif-btnMenuBurger span:nth-child(2) {
    animation-name: milieu;
}

.pas-actif-btnMenuBurger span:nth-child(2) {
    animation-name: milieu-2;
}

.actif-btnMenuBurger span:nth-child(3) {
    animation-name: bas;
}

.pas-actif-btnMenuBurger span:nth-child(3) {
    animation-name: bas-2;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 22px;
        transform: rotate(0);
    }

    100% {
        top: 26px;
        transform: rotate(135deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(135deg);
    }

    50% {
        top: 22px;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes milieu {
    0%  {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes milieu-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bas {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 22px;
        transform: rotate(0);
    }

    100% {
        bottom: 23px;
        transform: rotate(45deg);
    }
}

@keyframes bas-2 {
    0% {
        bottom: 22px;
        transform: rotate(45deg);
    }

    50% {
        bottom: 22px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}