#accueil-prof{
    img{
        height: 60%;
        float: left;
        opacity: 0.2; 
    }

    img:hover{
        opacity: 1;
        filter: hue-rotate(15deg);
        background: #EBEFF7;
    }

   #prof-tim{
       float: right;
       padding-right: 10%;
       margin-top: -180px;
   }
   #prof-tim2{
    float: right;
    padding-left: 55%;
    padding-right: 10%;
    margin-top: -120px;
    }

    .exp{
        padding-left: 80px;
    }
}