  
  .img-prof{
    height: 80px;
    width: 60px;
    padding: 0px;
    margin: 0px;
  }

  .logique{
    h1{
      margin: 0 6rem;
      padding: 0;
      font-size: 3.5rem;
    }
    
    h2{
        font-weight: 500;
        text-align: center;
        color: #ECFEF8;
        font-size: 3.4em;
        margin: 0;
        line-height: 1;
        a{
          color:#FFC857;
        }

        @include small_tablet {
            font-size: 4.4em;
        }

        @include desktop {
            font-size: 5.4em;
        }
    }

    .dropbtn {
      background-color: #9BC284;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin-top: 50px;
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
     
      color: white;
      a{
        color: #FBF057;
        font-style: italic;
      }
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #C1E8AA;
      font-size: large;
      min-width: 90px;
      left: 80px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 20px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-content a:hover {background-color: #FFC857; color: white; }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .dropdown:hover .dropbtn {
      background-color: #73AF88;
  }
  
  
/*prof*/

  .accordion {
    margin: 90px auto;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    background-color:#A2CC8A ;
    border-radius: 10%;
    padding: 45px 45px;
    margin-top: 50px;
    a{
      padding-left: 25px;
      color: black;
    }
  }
  .accordion .container {
    position: relative;
    margin: 10px 10px;
  }
  .accordion .label {
    position: relative;
    padding: 10px 10px;
    line-height: 1.2;
    font-size: 30px;
    color: black;
    cursor: pointer;
    background-color: #C1E8AA;
    align-items: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }
  .accordion .label::before {
    content: '+';
    color:#9BC284;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size:90px;
    transform: translateY(-50%);
    
  }
  .accordion .content {
    position: relative;
    background: #C1E8AA;
    color: #457B77;
    height:0;
    font-size: medium;
    text-align: justify; 
    overflow: hidden;
    //transition: 1s;
    border-radius: 2%;
    margin-top: 15px;
  }
  
  .accordion .container.active .content {
  height: auto;
  border-radius: 2%;
  margin-top: -15px;
  }
  
  .accordion .container.active .label::before {
    content: '-';
    right: 20px;
    font-size:100px;
    border-radius: 2%;
  }
}

@media(min-width:800px){
  .logique{
    h1{
      text-align: left !important;
      font-size: 7em !important;
    }
    .dropdown{
      padding-left: 350px;
    }
    .dropdown-content {
      left: 430px;
    }
    /*prof*/
    .accordion{
      width: 800px;
    }
    .accordion .content{
      width: 690px;
    }
  }
}
