.item-enseignant {
  padding: 0.5em 2em;

  &:hover {
    background-color: #ADD795;
  }

  .container {
    background-color: #C1E8AA;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    //flex-grow: 1;
    padding: 1em;
    margin: 1em 0;
    position: relative;

    @include small_tablet {
        padding: 0.8em 2em;
    }
  }
}


.label{
  img{
    /*height: 80px;
    border-radius: 20px;
    width: 60px;*/
    width: auto;
    height: 10vh;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
  }

  .contenu-titre-enseignant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:hover{
      color:#FBF057;
    }

    .contenant-icone-enseignant {
      font-size: 3rem;
      line-height: 0;

      .fa-minus:nth-child(1) {
        transform: rotate(90deg);
        color: #9BC284;
        position: absolute;
      }

      .fa-minus {
        color: #9BC284;
      }
    }

    
  } 
}

.description-enseignant {
  display: none;
  transition: 0.3s all ease;

  p {
      color: #457B77;
      line-height: 1.4;
      font-weight: 300;
      font-size: 1.3rem;
      
  }
}

.logique{
  h1{
   // margin: 0 6rem;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
  }
  
  h2{
      font-weight: 500;
      text-align: center;
      color: #ECFEF8;
      font-size: 3.5em;
      margin: 0;
      line-height: 1;
      a{
        color:#FFC857;
      }

      @include small_tablet {
          font-size: 4.4em;
      }

      @include desktop {
          font-size: 5.4em;
      }
  }

  .dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    width: 235px;
}

.dropdown {
    position: relative;
    display: inline-block;  
    color: white;
    a{
      color: #FBF057;
      font-style: italic;
    }
    button:hover{
      background-color:transparent;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    font-size: large;
    min-width: 90px;
    left: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    
}

.dropdown-content button {
    color: black;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    display: block;
    background-color: transparent;
    //border-radius: 20%;
}

.dropdown-content button:hover {background-color: #FFC857; color: white; }

.dropdown:hover .dropdown-content {
    display: block;
}
  

/*prof*/

  .accordion {
    margin: 90px auto;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    background-color:#A2CC8A ;
    border-radius: 25px;
    padding: 2em 0;
    margin-top: 50px;
    margin: 15px;
    margin-top: 10%;

    a{
      padding-left: 2em;
      //font-size: 2.8rem;
    }
  }
  .accordion .container {
    position: relative;
  }
  .accordion .label {
    position: relative;
    line-height: 1.2;
    font-size: 30px;
    color: black;
    cursor: pointer;
    align-items: center;
    display: flex;
  }

  .accordion .content {
    position: relative;
    background: #C1E8AA;
    color: #457B77;
    height:0;
    font-size: large;
    text-align: justify; 
    overflow: hidden;
    //transition: 1s;
    width: auto;
    border-radius: 2%;
    margin-top: 15px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .accordion .container.active .content {
  height: auto;
  border-radius: 1%;
  margin-top: -15px;
  }
  
  /*.accordion .container.active .label::before {
    content: '-';
    right: 20px;
    font-size: 100px;
    border-radius: 1%;
  }*/
}

@include small_tablet{
  .accordion{
    margin-top: 5% !important;
   
  }
}

@include desktop{
  .label{
    img{
      height: 13vh;
    }
    }
  .logique{
    h1{
      text-align: left !important;
      font-size: 7em !important;
      margin: 0 6rem;
    }
    .dropdown{
     margin-left: 65px;       
    }
    .dropbtn{
      font-size: 20px;
      width: 300px;
    }
    .dropdown-content {
      left: 130px;
    }
    /*prof*/
    .accordion{
      width: 85vw;
      margin: auto;
      margin-top: 4%;
      a{
          font-size: 2.8rem;
       }
        
      }
    }

    .description-enseignant {
     
      p {
          color: #457B77;
          line-height: 1.4;
          font-weight: 300;
          font-size: 1.8rem;
          
      }
    }
    #boutonCreatif{
      font-size: 20px;
    }
    #boutonLogique{
      font-size: 20px;
    }
  }


.accordion-body{
  display: block;
}
.accordion-body-pasActif{
  display: none;
}


.active {

  .fa-minus:nth-child(1) {
    animation-name: Croix;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    transition-timing-function: ease-in-out; 
  }

  .description-enseignant {
    display: block !important;
    ul{
      color: #457B77;
      line-height: 1.4;
      font-weight: 300;
      font-size: 1.8rem;
    }
  }
}