
.pageStage{
    .stage{
            margin: 0;
    }
    .benef{
        color: rgb(255, 251, 245);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .filtre{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    
    button{
        background-color: rgba(0,0,0,0);
        border: none;
    }
    
    .btnActif{
        h2{
            color: rgb(233, 196, 31);;
            animation: texteCouleur 1s ease-in-out;
        }
    }

    .Actif{
        display: block;
    }
    .PasActif{
        display: none;
    }

    .texteResume{
        padding: 2rem;
        @include desktop {
            text-align: justify;
            width: 60%;
        }
        border-radius: 10px;
        width: 90%;
        margin: auto;
        font-size: clamp(0.2rem, -0.875vw + 8.333vw, 1.2rem);
        //background-color: #bce99b;
        background: linear-gradient(132deg, #c3ebd0, #dcebc3, #aaf1c2);
        background-size: 400% 400%; 
        animation: Gradient 15s ease infinite;
        
        
        p{
            font-weight: 600;
            color: #27532A;
        }
    }

}

//Section d'un témoignage complet (Image, titre et texte...)
.Exp{
    margin-bottom: 60px;
    //Pour les éléments pairs, mettre l'éléments à droite
    &:nth-child(even){
        .signetExp{
            @include desktop{
                margin-left: 12%;
            }
            
        }
        h3{
            @include desktop{
                margin-left: -15px;
            }
            margin-left: -25px;
        }
        .texteExp{
            @include desktop{
                margin-left: auto; 
                margin-right: 0;
            }
            
        }
    }
    //Pour les éléments impairs, les mettre à droite
    &:nth-child(odd){
        .signetExp{
        flex-direction: row-reverse;
        @include desktop{
            margin-right: 12%;
        }
        }
        h3{
            @include desktop{
                margin-right: -15px;
            }
            margin-right: -40px;
            
        }
        .texteExp{
            @include desktop{
                margin-left: 0; 
                margin-right: auto;
            }
            
        }
    }
    //Style généraux
    .signetExp{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    
        
        img{
            background-color: #D9F2CA;
            padding: 1rem;
            border-radius: 60%;
            height: 20vw;
            width: 20vw;
            min-width: 150px;
            min-height: 150px;
            z-index: -10;
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	        transform: translatey(0px);
	        animation: float 6s ease-in-out infinite;
            @include desktop{
                height: 15em;
                width: 15em;
                padding: 2rem;
            }
            object-fit: scale-down;
        }
        h3{
            flex-grow: 4;
            @include desktop{
                font-size: 1.8rem;
            }
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D9F2CA;
            padding: 2rem;
            color:#0B132B ;
            animation: floatText 6s ease-in-out infinite;
        }
        
    }
    .contenantTexteExp {
        width: 100%;
    }
    .texteExp{
        width: 90%;
        margin: 0px auto;
        @include tablet{
            width: 70%;
            margin:0px;
        }
        padding: 1rem;
        border-radius: 10px;
        background-color: #D9F2CA;
        color: #0B132B;
        
        @include desktop{
            margin-top: -50px;
        }
        p{
            font-weight:400;
            @include desktop{
                font-size: 20px;   
            }
            font-size: 15px;
        }
    }
}   


/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* Animate float */
  @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-4px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* Animate float h3 */
@keyframes floatText {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-4px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* Animate text */
@keyframes texteCouleur{
    from  {
		color: #0B132B;
	}
    to  {
        color: rgb(233, 196, 31);
	}
}