
.pageStage{
    .stage{
            margin: 0;
    }
    .filtre{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button{
        background-color: rgba(0,0,0,0);
        border: none;
    }
    
    .btnActif{
        h2{
            color: rgb(233, 196, 31);
        }
    }

    .Actif{
        display: block;
    }
    .PasActif{
        display: none;
    }

    .texteResume{
        padding: 2rem;
        text-align: justify;
        border-radius: 10px;
        width: 60%;
        margin: auto;
        background-color: #bce99b;
        margin-bottom: 20px;
    }

}

.Exp{

    
    .signetExp{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12%;

        img{
            background-color: #DAFFBE;
            padding: 2rem;
            border-radius: 60%;
            height: 15em;
            width: 11em;
            object-fit: cover;
        }
        h3{
            flex-grow: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #DAFFBE;
            padding: 2rem;
            margin-left: -10px;
        }
    }

    .contenantTexteExp {
        width: 100%;

        .texteExp{
            display: flex;
            width: 70%;
            background-color: red;
            padding: 1rem;
            border-radius: 10px;
            right: 0;
            // justify-content: flex-end;
        }

    }
   
    
}
