
/*-------Style section projets GRID desktop ------*/
.gallerie-projets{

.lesProjets {

    @include desktop{
    margin: 1rem 4rem 4rem 4rem;
    }
   

    div, img{
        border-radius: 20px;
    }
    .normal{
        height: 37vh;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    } 


    @include desktop{


        display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-auto-rows: 1fr;
            gap: 20px 20px;
            grid-auto-flow: row;
            grid-template-areas:
            ". . top-midle ."
            ". . top-midle ."
            ". midle midle ."
            "bottom bottom . .";

    }


        .top-midle {
            display: none;

            @include desktop{
                display: block;
            }
            background-color: rgb(37, 37, 37);
            grid-area: top-midle;
            
                    display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-auto-rows: 1fr;
                        gap: 20px 20px;
                        grid-auto-flow: row; 
                        grid-template-areas: 
                        ". . top-midle ."
                        ". . top-midle ."
                        ". midle midle ."
                        "bottom bottom . .";
                    } 
            .midle { 
                display: none;

            @include desktop{
                display: block;
            }
                background-color: rgb(179, 179, 179);
                grid-area: midle; 
            }

            .bottom {
                display: none;

            @include desktop{
                display: block;
            }
                background-color: rgb(8, 8, 8);
                grid-area: bottom;
            }

                

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-auto-rows: 1fr;
            
                        gap: 20px 20px;
                        grid-auto-flow: row;
                        grid-template-areas:
                        ". . "
                        ". . ";

        }

        /*-------Style filtre section gallerie projets ------*/

form {
    font-weight: 400;
    font-size: 1.5rem;
    color: #ECFEF8;
    padding: 1em 0;
    text-align: left;
    
    @include desktop{
        margin-left: 4rem;
    }
    

    .filtre-cours {
        background: none;
        border: none;
        color: #FBF057;
        font-weight: 500;
        font-style: italic;
        font-size: 1.5rem;

        option {
            background-color: #D7EEE6;
            color: $couleur-bleu-marin;

            &:hover {
                background-color: #9BC284;
            }
        }
    }

    input {
        //border: 3px solid #FBF057;
        border-radius: 10px;
        background-color: #f0ecb2;
        font-family: futura-pt, sans-serif;  
        color: $couleur-bleu-marin;
        font-weight: 600;
        font-size: 17px;
        transition: 0.3s all ease;
        

        &:hover {
            background-color: $couleur2;
            //color:#D7EEE6;
            //border: 3px solid $couleur2;
        }

        &:active {
            border-color: $couleur-bleu-marin;
        }
    }
}
      
    }

    


/*-------Style global titre section gallerie et concours------*/


.gallerie-projets, .concours {

  
  text-align: center;
  align-items: center;
  margin: 2.5rem;
  @include desktop{
    margin: 1rem;
  }


  h2 {
    font-weight: 500;
    text-align: center;
    color: #ECFEF8;
    margin: 2rem auto;
    line-height: 1;
    font-size: clamp(3em, -0.875vw + 8.333vw, 5.4em);
}

h3{

        margin-bottom: 2rem;
        align-items: center;
        color: #ECFEF8 ;
        font-size: clamp(3em, -0.875vw + 8.333vw, 5.4em);
        font-weight: 500;

    @include desktop {

        display: inline-flex;
        margin-top: 5rem;
        
        
    }
    

    div{
        color:#FFC857;
    }
}

}

/*--------------------Style card Concours------------------------*/
.concours{

   
    
    h3{
        
        font-style: italic;

        
    }

    .lesConcours{
    
        @include desktop{
            width: 80%;
            justify-content: space-around;
            flex-direction: row;
        }

        flex-direction: column;

        width: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
       // flex-direction: row;


        background: rgba(248, 255, 215, 0.219);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 45px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        

        

        .concours{

            @include desktop{
                width: 450px;
                margin: 2rem;
                border: 1px solid rgba( 255, 255, 255, 0.18 );

                
            }

            flex-direction: column;
            margin: 5% auto;
            padding: 50px;

            width: 90%;
            height: auto;
            border-radius: 10px;
            border: none;
            background: linear-gradient(132deg, #c3ebd0, #dcebc3, #aaf1c2);
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            backdrop-filter: blur( 0px );

            .suite{
            display: none; 
            border-radius: 5px;
            
            width: 50%;
            font-weight: 500;
            font-size: 21px;
            margin: 0.5em auto;
            opacity: 90%;

            background-color:#7BB8A1;
                color: #FFFAB2;  //#D7EEE6//
                border: 3px solid #7BB8A1;

                @include desktop {
                    display: block;
                }
            }

            .suite:hover{
                border: 3px solid #FFFAB2;
            background-color:#FFFAB2;
            color:#4c7062;
                
            }
            
        h4{

            font-weight: 500;
            font-size: 27px;
            line-height: 42px;
            margin: 0;
                
        } 

        p{
            margin: 1rem auto;
            width: 95%;
            align-items: center;
            text-align: center;
            //border-bottom: .5px solid black;

            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
        }

        }
        .concours{
            
            img{
                margin: 10px;
                color: black;
                filter: saturate(200%) brightness(70%);
                width: 70px;

            }

        }
    }

}

/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }




