.page-header{

    width: 100%;

    div{
        width: 33%;
        
    
    h1{
        align-items: center;
        margin: 0 auto;
       
        

    }

    h4{   
        align-items: center;
        display: flex;
        justify-content: center;
        
      
    }

}

}
.gallerie-projets, .concours {
display: flex;
justify-content: center;

h3{
    color: #ECFEF8 ;
    font-size: 2rem;
}

}


